{{! Nav Bar }}
<nav class="navbar navbar-expand-lg navbar-dark  bg-transparent">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/saved">Saved</a>

    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-center">Saved Articles</h1>
  </div>
</div>


<div id="articles" class="row">
    {{#each articles}}
        {{> saved-article }}
    {{/each}}
</div>


{{#each articles}}
    {{> modal }}
{{/each}}